<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928760683611-6e4srd6dgnnlin09019um1qt5jepo0c5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928760683611-6e4srd6dgnnlin09019um1qt5jepo0c5</string>
	<key>API_KEY</key>
	<string>AIzaSyCskHCRV0Hvj1NyoxHyr1cOtG91O1UX6Mc</string>
	<key>GCM_SENDER_ID</key>
	<string>928760683611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myapp.bossa</string>
	<key>PROJECT_ID</key>
	<string>bossa-4625b</string>
	<key>STORAGE_BUCKET</key>
	<string>bossa-4625b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928760683611:ios:bd79557763a850f1c1737e</string>
</dict>
</plist>